/**

box-sixing
 
**/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/**

display grid an elements
 
**/

body {
    font-size: 16px;
}

.main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "home home message message message message" "setting setting citation citation logo handler" "setting setting citation citation logo handler";
    display: grid;
    width: 100%;
    height: 100vh;
    border: none;
}

.grid-element {
    position: relative;
    border: none;
}

.home {
    grid-area: home;
    background: #fff;
    animation: home-in ease-in-out 2s;
}

.message {
    grid-area: message;
    animation: message-in ease-in-out 5s;
}

.setting {
    grid-area: setting;
    background: #000;
    animation: down-in cubic-bezier(.17, .67, .81, 1.13) 5s;
}

.citation {
    grid-area: citation;
    background: #fff;
    animation: down-in cubic-bezier(.17, .67, .81, 1.13)6s;
}

.logo {
    grid-area: logo;
    background: #1a1aff;
    animation: down-in cubic-bezier(.17, .67, .81, 1.13) 7s;
}

.handler {
    grid-area: handler;
    background: #000;
    animation: down-in cubic-bezier(.17, .67, .81, 1.13) 8s;
}


/**

design content
 
**/


/**

home-grid
 
**/

.home-header {
    font-size: 1em;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
}

.home-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.home-body {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Poppins", sans-serif;
}

.home-title {
    font-weight: 700;
    font-size: 1.8em;
}

.home-message p {
    padding: 50px 50px 0 50px;
    font-size: 1.2em;
}

.tag {
    padding: 50px 50px 0 50px;
}

.important {
    font-weight: bolder;
    font-style: italic;
    color: #262626;
}


/**

message grid-element
 
**/

.message {
    position: relative;
    transition: all ease-in-out 2s;
}

.message-title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    width: 400px;
    padding: 25px 40px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}

.message-content {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    max-width: 850px;
    min-width: 400px;
    padding: 20px 60px;
    font-weight: 500;
    -webkit-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.message-number {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFD700;
    font-weight: bolder;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
}


/**

setting grid-element
 
**/

.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    background: url("../assets/background-6.jpg") no-repeat center;
    background-size: 600px;
}

.bar {
    margin-top: 10px;
    border: 4px solid #fff;
    width: 150px;
}


/**

citation grid-element
 
**/

.citation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
}

.quote {
    font-weight: 300;
    background: #d9d9d9;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    color: #000;
}

.author {
    margin-top: 15px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: absolute;
    top: 30%;
    right: 20px;
    width: 50px;
    height: 50px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
}


/**

logo grid-element
 
**/

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #fff;
}

.logo p {
    background: #FFD700;
    padding: 20px;
    width: 200px;
    font-size: 1.3em;
}


/**

handler grid-element
 
**/

.handler {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    color: #fff;
    font-size: 4em;
}

.arrow {
    cursor: pointer;
    transition: all ease-in-out 0.8s;
}

.arrow-left:hover {
    transform: translateX(-15px);
}

.arrow-right:hover {
    transform: translateX(15px);
}


/**

animation
 
**/

@keyframes home-in {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes message-in {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down-in {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/**

media query
 
**/

@media only screen and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .grid-element {
        padding: 20px;
    }
}